:root {
  box-sizing: border-box; }

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  color: white;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px; }

h2 {
  font-family: Atlata, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.5px;
  line-height: 1.1; }

ul {
  list-style: none; }

.content {
  max-width: 1440px;
  margin: 0 auto; }

.hero {
  background-image: url("../../images/mobile/image-hero.jpg");
  background-size: cover;
  height: 100vh; }
  .hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    margin: 0 1.5em;
    padding-top: 2.5em; }
    .hero__header > .logo img {
      height: 1.5em; }
    .hero__header > .menu ul {
      display: none; }
  .hero__slogan {
    box-sizing: content-box;
    border: 2px solid white;
    margin: calc(50vh - 4em) 1.5em 0;
    transform: translateY(-50%);
    padding: 1.5em; }

@media (min-width: 600px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: initial;
    padding: 2.5vw 10vw 10vw; }
    .hero__header {
      margin: 0 0 10vw; }
      .hero__header > .logo img {
        height: 1.75em; }
      .hero__header > .menu img {
        display: none; }
      .hero__header > .menu ul {
        display: flex; }
      .hero__header li {
        margin-left: 2em;
        font-weight: 700; }
    .hero__slogan {
      margin: 0;
      width: 50%;
      transform: initial; }
      .hero__slogan > h2 {
        font-size: 4rem;
        line-height: 0.9;
        border-width: 5px; } }

.about {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  margin: 3.5em 0 3em;
  text-align: center; }
  .about__image img {
    height: auto;
    width: 100%; }
  .about__title {
    margin-top: 2.5em;
    color: #8c8c8c; }
  .about__desc {
    margin-top: 0.5em;
    padding: 1em;
    color: dimgray;
    line-height: 1.6; }

@media (min-width: 600px) {
  .about {
    padding: 0;
    margin: 9em;
    display: block;
    position: relative; }
    .about__image {
      width: 65%;
      overflow: hidden; }
      .about__image img {
        display: block; }
    .about__content {
      padding: 6vw 0 0 6vw;
      position: absolute;
      width: 50%;
      background-color: white;
      right: 0;
      bottom: 0;
      text-align: left; }
    .about__title {
      margin: 0 0 1em; }
      .about__title h2 {
        font-size: 2.5rem; }
    .about__desc {
      padding: 0;
      margin: 0;
      font-size: 0.8rem; } }

.gallery {
  padding: 1.5em;
  margin: 3em 0;
  text-transform: uppercase; }
  .gallery__title {
    color: dimgray;
    margin-bottom: 3em;
    text-align: center; }
  .gallery__item {
    position: relative;
    margin-bottom: 1.5em; }
    .gallery__item h3 {
      width: 6em;
      position: absolute;
      line-height: 1;
      bottom: 1.2em;
      left: 1.2em; }
    .gallery__item img {
      display: block;
      height: auto;
      width: 100%; }
  .gallery__button {
    display: block;
    background-color: white;
    margin: 1em auto 0;
    text-transform: inherit;
    padding: 1em 3em;
    border: 1px solid dimgray; }

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 0; }
  .footer__nav {
    margin: 3em 0; }
    .footer__nav li:not(:last-child) {
      margin-bottom: 1em; }
  .footer__social {
    display: flex;
    margin-bottom: 1.5em; }
    .footer__social img:not(:last-child) {
      margin-right: 1em; }
  .footer__copy {
    margin-bottom: 1em;
    color: #8c8c8c; }

.attribution {
  color: #8c8c8c; }
