:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: "Josefin Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

h2 {
  font-family: Atlata, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 1.5px;
  line-height: 1.1;
}

ul {
  list-style: none;
}

.hero {
  background-image: url("../images/mobile/image-hero.jpg");
  background-size: cover;
  height: 100vh;

  &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4em;
      margin: 0 1.5em;
      padding-top: 2.5em;

    & > .logo img {
      height: 1.5em;
    }

    & > .menu ul {
      display: none;
    }
  }

  &__slogan {
    box-sizing: content-box;
    border: 2px solid white;
    margin: calc(50vh - 4em) 1.5em 0;
    transform: translateY(-50%);
    padding: 1.5em;
  }
}

@media only screen and (min-width: 600px) {
  .hero {
    background-image: url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: initial;
    padding: 2.5vw 12vw 12vw;

    &__header {
      margin: 0 0 12vw;

      & > .logo img {
        height: 2.5em;
      }

      & > .menu img {
        display: none;
      }

      & > .menu ul {
        display: flex;
      }

      & li {
        margin-left: 2em;
        font-weight: 700;
      }
    }

    &__slogan {
      margin: 0;
      width: 50%;
      transform: initial;

      & > h2 {
        font-size: 4.5rem;
        line-height: 0.9;
        border-width: 5px;
      }
    }
  }
}

.about {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
  margin: 3.5em 0 3em;
  text-align: center;

  &__image {

    & img {
      height: auto;
      width: 100%;
    }
  }

  &__title {
    margin-top: 2.5em;
    color: hsl(0, 0%, 55%)
  }

  &__desc {
    margin-top: 0.5em;
    padding: 1em;
    color: hsl(0, 0%, 41%);
    line-height: 1.6;
  }
}

.gallery {
  padding: 1.5em;
  margin: 3em 0;
  text-transform: uppercase;

  &__title {
    color: hsl(0, 0%, 41%);
    margin-bottom: 3em;
    text-align: center;
  }

  &__item {
    position: relative;
    margin-bottom: 1.5em;

    & h3 {
      width: 6em;
      position: absolute;
      line-height: 1;
      bottom: 1.2em;
      left: 1.2em;
    }

    & img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &__button {
    display: block;
    background-color: white;
    margin: 1em auto 0;
    text-transform: inherit;
    padding: 1em 3em;
    border: 1px solid hsl(0, 0%, 41%);
  }
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em 0;

  &__nav {
    margin: 3em 0;

    & li:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  &__social {
    display: flex;
    margin-bottom: 1.5em;

    & img:not(:last-child) {
      margin-right: 1em;
    }
  }

  &__copy {
    margin-bottom: 1em;
    color: hsl(0, 0%, 55%);
  }
}

.attribution {
  color:  hsl(0, 0%, 55%);
}
