.hero {
  background-image: url("../../images/mobile/image-hero.jpg");
  background-size: cover;
  height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    margin: 0 1.5em;
    padding-top: 2.5em;

    & > .logo img {
      height: 1.5em;
    }

    & > .menu ul {
      display: none;
    }
  }

  &__slogan {
    box-sizing: content-box;
    border: 2px solid white;
    margin: calc(50vh - 4em) 1.5em 0;
    transform: translateY(-50%);
    padding: 1.5em;
  }
}

@media (min-width: 600px) {
  .hero {
    background-image:
            linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,.4) ),
            url("../../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: initial;
    padding: 2.5vw 10vw 10vw;

    &__header {
      margin: 0 0 10vw;

      & > .logo img {
        height: 1.75em;
      }

      & > .menu img {
        display: none;
      }

      & > .menu ul {
        display: flex;
      }

      & li {
        margin-left: 2em;
        font-weight: 700;
      }
    }

    &__slogan {
      margin: 0;
      width: 50%;
      transform: initial;

      & > h2 {
        font-size: 4rem;
        line-height: 0.9;
        border-width: 5px;
      }
    }
  }
}
